# Ignore large datasets and trained model files
data/
models/
*.bz2
*.ft.txt
*.csv
*.pkl

# Python cache / environments
__pycache__/
.pytest_cache/
*.pyc
.venv/
venv/
.env
.ipynb_checkpoints/

# Keep final submission CSV
!submissions/
!submissions/*.csv